/* Define the grid container */
.wrapper {
  background-color: blueviolet;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}

/* Style the header */
.header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}