.v-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 8px;
  margin: 15px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
 
  overflow: auto;
  background: linear-gradient(45deg, #FFDAB9, #fab579);
}

.v-row {
  flex-wrap: nowrap; 
  overflow-x: auto;
}

.empty-placeholder {
  visibility: hidden;
  height: 2vh;
  width: 13.5vw;  
}

.task {
  margin: 5px;
  width: 13.5vw;
}

.newList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newTask {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 12.5vw;
  margin: 5px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.menu {
  margin-right: 5px;
}

.v-card:hover .hover-btn {
  opacity: 1;
}
.hover-btn {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.edit-btns {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  gap: 5px;
}

