/* v-list */
.v-col {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
margin: 15px;

position: relative;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 21px;

max-height: 75vh; 
overflow: auto;  
flex-shrink: 0; 
}

.v-row {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  flex-wrap: nowrap; /* Prevents the lists from wrapping onto a new line */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}

